* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
 html,body{
	height: 100%;
 }

/* Divs gerais! */

 div.clear{
	clear: both;
 }

 div.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
 }
 /* ********** */

 header{
	background-color: rgb(180, 180, 180);
	padding: 10px 2% 40px 2%;
 }

div.logo-1{
	float: left;
	width: 150px;
	height: 60px;
	/* background-color: purple; */
	background-image: url('../imagens/logo1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
 }

div.logo-2{
	float: right;
	width: 150px;
	height: 60px;
	/* background-color: green; */
	background-image: url('../imagens/logo2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
 }

 section.cover-form{
	width: 100%;
 }

 div.bg{
	background-image: url(../imagens/bg-form.jpg);
	height: 560px;
	background-size: cover;
	background-position: center;
	position: relative;
 }

 div.form-container{
	width: 400px;
	height: 105%;
	z-index: 2;
	box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
	background-color: white;
	position: absolute;
	right: 30px;
	top: -2.5%;

 }

 div.form-container h2{
	background-color: rgb(210, 210, 210);
	padding: 25px 15px;
	color: black;
	font-size: 18px;
	font-weight: normal;
}

div.form-container form{
	margin-top: 20px;
	padding: 15px;
}

div.form-container form p{
	color: #525252;
	font-size: 14px;
}
div.form-wraper:not(:first-child){
	margin-top: 40px;
}

div.form-wraper:last-child{
	margin-top: 20px;
}

div.form-container form input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

div.form-container form input[type=submit]{
	background-color: #033c50;
	text-transform: uppercase;
	color: white;
	width: 100%;
	font-size: 25px;
	height: 50px;
	cursor: pointer;
	border: 0;
}

section.chamada{
	width: 100%;
	z-index: 1;
	text-align: center;

}

section.chamada div.container{
	background-color: #29526d;
	padding: 70px 0 50px 0;
}

section.chamada h2{
	width: 96%;
	max-width: 700px;
	display: inline-block;
	color: white;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
}

section.chamada p{
	width: 96%;
	max-width: 700px;
	display: inline-block;
	color: white;
	margin-top:10px;
	font-size: 18px;
	font-weight: normal;
}

/*Media Queries*/

@media screen and (max-width: 960px){

	div.bg{
		text-align: center;
		height: auto;
		padding: 40px 0;
	}

	div.form-container{
		height: auto;
		width: 98%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}
}

 @media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	div.logo-1, div.logo-2{
		margin-top: 10px;
		display: inline-block;
		float: none;
	}
 }